.team

	// container

	.container

		.row

			.col-md-12

				// title

				.team__title

					h3
						| Наша команда
						img(src="../img/icon-big-pink-bg.png" alt="@@")
					p
						| Я новая работает с лучшими специалистами индустрии красоты и здоровья.

					.team__title__hr
						

	// container

	.container

		.row

			.col-md-12

				ul.team__slider#team-banner

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Анастасия

											h5
												| Краснокудрина

											.team__slider__item__mask__hr

											p
												|  стилист

										img(src="../img/team/coach-1.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Мария

											h5
												| Кискина

											.team__slider__item__mask__hr

											p
												|  визажист

										img(src="../img/team/coach-2.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Кристина

											h5
												| Кеасаян

											.team__slider__item__mask__hr

											p
												|  Парикмахер

										img(src="../img/team/coach-3.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Мария

											h5
												| Кискина

											.team__slider__item__mask__hr

											p
												|  визажист

										img(src="../img/team/coach-1.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

					// / item

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Анастасия

											h5
												| Краснокудрина

											.team__slider__item__mask__hr

											p
												|  стилист

										img(src="../img/team/coach-1.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Мария

											h5
												| Кискина

											.team__slider__item__mask__hr

											p
												|  визажист

										img(src="../img/team/coach-2.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Кристина

											h5
												| Кеасаян

											.team__slider__item__mask__hr

											p
												|  Парикмахер

										img(src="../img/team/coach-3.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Мария

											h5
												| Кискина

											.team__slider__item__mask__hr

											p
												|  визажист

										img(src="../img/team/coach-1.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

					// / item

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Анастасия

											h5
												| Краснокудрина

											.team__slider__item__mask__hr

											p
												|  стилист

										img(src="../img/team/coach-1.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Мария

											h5
												| Кискина

											.team__slider__item__mask__hr

											p
												|  визажист

										img(src="../img/team/coach-2.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Кристина

											h5
												| Кеасаян

											.team__slider__item__mask__hr

											p
												|  Парикмахер

										img(src="../img/team/coach-3.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

								.col-xs-6.col-sm-3

									// drop item

									.team__slider__item
										.team__slider__item__mask
											
											h4
												| Мария

											h5
												| Кискина

											.team__slider__item__mask__hr

											p
												|  визажист

										img(src="../img/team/coach-1.png" alt="@@")
										.team__slider__item__space
										

									// / drop item

					// / item

	// container

	.container

		.row

			.col-md-12

				.team__cubes

				.team__detail

					p
						| Все участницы марафона получают вип-скидки от наших специалистов!

					a(href="#" title="")
						| Предложить свое участие, как специалиста