.team

	// container

	.container

		.row

			.col-md-12

				// title

				.team__title

					h3
						| Наша команда
						img(src="../img/icon-big-pink-bg.png" alt="@@")
					p
						| Я новая работает с лучшими специалистами индустрии красоты и здоровья.

					.team__title__hr
						

	// container

	.container

		.row

			.col-md-12

				ul.team__slider#team-banner

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-4

									// drop item

									.team__slider__item
										.team__slider__item__mask
										img(src="../img/team/coach-1.png" alt="@@")
										

									// / drop item

								.col-xs-6.col-sm-4



					// / item


	// container

	.container

		.row

			.col-xs-6.col-sm-4

			.col-xs-6.col-sm-4

				a.reviews__read-all(href="#" title="")
					| Оставь отзыв!

			.col-xs-6.col-sm-4