doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="../img/favicon-16-16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="../img/favicon-32-32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="../img/favicon-96-96.png" sizes="96x96")
    title Я.Новая — FIT STYLE MAРАФОН
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/style.css')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body

    // header

    include ../blocks/block-header/header.pug

    // / header

    // main screen

    include ../blocks/block-main-screen/main-screen.pug

    // / main screen

    // main slider

    include ../blocks/block-main-slider/main-slider.pug

    // / main slider

    // rewarding

    include ../blocks/block-rewarding/rewarding.pug

    // / rewarding

    // reviews

    include ../blocks/block-reviews/reviews.pug

    // / reviews

    // meeting

    include ../blocks/block-meeting/meeting.pug

    // / meeting

    // footer

    include ../blocks/block-footer/footer.pug

    // / footer

    // scripts

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../js/bootstrap.min.js')
    script(src='../js/responsiveslides.min.js')
    //script(src='../js/jquery.bpopup.min.js')
    //script(src='../js/smooth-scroll.js')
    script(src='../js/scripts.js')

    // / scripts