.reviews

	// container

	.container

		.row

			.col-md-12

				// title

				.reviews__title

					h3
						img(src="../img/icon-big-pink-bg-left.png" alt="@@")
						| Отзывы участников
					p
						| прошедших марафонов
						

	// container

	.container

		.row

			.col-md-12

				ul.reviews__slider#reviews-banner

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

					// / item

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

					// / item

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.reviews__slider__item

										.reviews__slider__item__author

											img(src="../img/reviews/avatar.png" alt="@@")

											.reviews__slider__item__author__content

												h5
													| Мария Миронова

												p
													| Сентябрь 21

										p
											| Совокупность показателей учёта, отражённых в форме определённых таблиц и характеризующих движение имущества, обязательств и финансовое положение компании за отчётный период. ...

										a(href="#" title="")
											| Живой отзыв

									// / drop item

					// / item

	// container

	.container

		.row

			.col-xs-6.col-sm-4

			.col-xs-6.col-sm-4

				a.reviews__read-all(href="#" title="")
					| Оставь отзыв!

			.col-xs-6.col-sm-4