// variables

// fonts

//@akr-regular: 'akrobatregular';

// colors

@pink: #f02c60;
@pink-light: #f02c91;

@white: #fff;
@white-dark: #f4f3f3;

@black: #000;

@blue: #0fb9bd;
@blue-light: #33b2ad;

@grey: #f3f3f3;
@grey-light: #252526;

// other variables