.meeting

	// container

	.container

		.row

			.col-md-12

				// title

				.meeting__title

					h3
						| Встречи​ ЯНовая
						img(src="../img/icon-big-pink-bg.png" alt="@@")

					.meeting__title__hr

	// container

	.container

		.row

			.col-md-12

				ul.meetings__slider#meetings-banner

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-1.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Встречи​ ЯНовая
												p
													| сентябрь

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-2.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Встречи​ ЯНовая
												p
													| сентябрь

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-3.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Встречи​ ЯНовая
												p
													| сентябрь

									// / drop item

					// / item

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-3.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Содержимое 2
												p
													| сентябрь

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-2.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Содержимое 2
												p
													| сентябрь

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-1.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Содержимое 2
												p
													| сентябрь

									// / drop item

					// / item

					// item

					li
						
						// container

						.container

							.row

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-2.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Содержимое 3
												p
													| сентябрь

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-3.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Содержимое 3
												p
													| сентябрь

									// / drop item

								.col-xs-6.col-sm-4

									// drop item

									.meetings__slider__item
										img(src="../img/meetings/meeting-1.jpg" alt="@@")
										.meetings__slider__item__description-body
											.meetings__slider__item__description-body__date
												| 23
											.meetings__slider__item__description-body__titles
												h5
													| Содержимое 3
												p
													| сентябрь

									// / drop item

					// / item

	// container

	.container

		.row

			.col-md-12

				// preview

				.meeting__preview

					.meeting__preview__date
						| 23

					.meeting__preview__content

						h5
							| <span>Анонс встречи:</span>  Так же мощно, как майские грозы, прогрохочет очередная встреча участников марафона Я Новая.
						p
							| сентябрь