.im-new

	// container

	.container

		.row

			.col-md-12

				.about-coach__title
					h3
						| Тренировки <span>я новая</span>
						img(src="../img/icon-big-pink-bg.png" alt="@@")
					p
						| Базовая тренировка + табата
					.about-coach__title__hr

	// container

	.container

		.row

			.col-md-12

				.main__slider
					.main__slider__content

						ul.main-slider__slider#new-banner

							li
								<iframe width="713" height="418" src="https://www.youtube.com/embed/VVNo7s1qw_c" frameborder="0" allowfullscreen></iframe>

							li
								<iframe width="713" height="418" src="https://www.youtube.com/embed/VVNo7s1qw_c" frameborder="0" allowfullscreen></iframe>

							li
								<iframe width="713" height="418" src="https://www.youtube.com/embed/VVNo7s1qw_c" frameborder="0" allowfullscreen></iframe>

				a.im-new__all-video(href="#" title="")
					| Все видео на Yutube

