.im-new

	// container

	.container

		.row

			.col-md-12

				.about-coach__title
					h3
						| Тренировки <span>я новая</span>
						img(src="../img/icon-big-pink-bg.png" alt="@@")
					p
						| Базовая тренировка + табата
					.about-coach__title__hr

	// container

	.container

		.row

			.col-md-12

				.im-new__slider
					| SLIDER

				a.im-new__all-video(href="#" title="")
					| Все видео на Yutube

