@font-face {
	font-family: 'CANDARA';
	src: url('../fonts/CANDARA.eot');
	src: local('CANDARA'), url('../fonts/CANDARA.woff') format('woff'), url('../fonts/CANDARA.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1398">Text with this font applied</p> */
.fontsforweb_fontid_1398 {
	font-family: 'CANDARA' !important;
}

/* Font downloaded from FontsForWeb.com */