.main-screen

	// container
	
	.container

		.row

			.col-md-12
				
				// counter

				h2
					img(src="../img/icon-arrow.png" alt="")
					| Хочу быть стройной и молодой
				h3
					| система​ похудения, стильное похудение, он-лайн​ марафон
				p
					| Проходит​ каждый ​месяц, продолжительность​ 3 недели.

				a.btn.btn-blue(href="#" title="")
					| Задай вопрос

		.main-screen__counter

			p.main-screen__counter__description
				| новый набор:
			p.main-screen__counter__date
				| старт <span>20</span> октября
			p.main-screen__counter__left
				| осталось
			p.main-screen__counter__quantity
				| 15 дней