footer.footer

	// container

	.container

		.row

			.col-xs-12.col-md-4
				img.footer-couach(src="../img/footer-coach.png" alt="@@")

			.col-xs-12.col-md-8
				
				// footer info

				ul.socials
					li
						a(href="#" title="")
							img(src="../img/icons/icon-1.png"  alt="@@")
							p
								| FB
					li
						a(href="#" title="")
							img(src="../img/icons/icon-2.png"  alt="@@")
							p
								| skype								
					li
						a(href="#" title="")
							img(src="../img/icons/icon-3.png"  alt="@@")
							p
								| ютуб								
					li
						a(href="#" title="")
							img(src="../img/icons/icon-4.png"  alt="@@")
							p
								| whats up							
					li
						a(href="#" title="")
							img(src="../img/icons/icon-5.png"  alt="@@")
							p
								| viber								
					li
						a(href="#" title="")
							img(src="../img/icons/icon-6.png"  alt="@@")
							p
								| OK								
					li
						a(href="#" title="")
							img(src="../img/icons/icon-7.png"  alt="@@")
							p
								| вк								
					li
						a(href="#" title="")
							img(src="../img/icons/icon-8.png"  alt="@@")
							p
								| инстаграмм								
					li
						a(href="#" title="")
							img(src="../img/icons/icon-9.png"  alt="@@")

				.footer-info

					p
						| в <span>telegram</span>  открытая ​группа, <br/> где​ можно ​напрямую задать ​вопрос​ ведущей.

					.hr-white

					h4
						| Девочки,  до встречи на марафоне!