.rewarding

	// container
	
	.container

		img.rewarding__coach(src="../img/rewarding-coach.png" alt="@@")

		.row

			.col-xs-6
				
			.col-xs-6

				.rewarding__title

					h3
						img(src="../img/icon-big-pink-bg-left.png" alt="@@")
						| Награждаем <br/> <span>победителей</span>

				.rewarding__content

					p
						| 3 призовых места

				.rewarding__content__hr-pink

				// place content

				.rewarding__content__place

					h5.color-pink
						| 1 место
					p.color-pink
						| фотосессия

				.rewarding__content__hr-purple

				// place content

				.rewarding__content__place

					h5.color-purple
						| 2 место
					p.color-purple
						| фотосессия

				.rewarding__content__hr-blue

				// place content

				.rewarding__content__place

					h5.color-blue
						| 3 место
					p.color-blue
						| фотосессия

				p.rewarding__content__ps
					| Еженедельный розыгрыш украшений