@media only screen and (min-width : 1200px) {

	// rewarding

	.rewarding {
		position: relative;
		height: 842px;
		background: url('../img/rewarding-bg.png') repeat-x center;

		.container {
			position: relative !important;
			height: 842px;
		}

	}

	.rewarding__coach {
		position: absolute;
		display: block;
		width: 1045px;
		height: 816px;
		left: -214px;
		bottom: 0;
	}

	.rewarding__title {
		margin-top: 92px;
		height: auto;

		img {
			margin-top: -80px;
			margin-right: 20px;
			width: 76px;
			height: 81px;
		}

		h3 {
			font: 72px 'MyriadProBold';
			color: @grey-light;
			font-weight: bold;
			text-align: center;

			span {
				text-transform: uppercase;
			}

		}

		p {
			font: 37px 'CANDARA' !important;
			text-align: center !important;
			color: @grey-light !important;
			text-transform: uppercase !important;
		}

	}

}