.rewarding

	// container
	
	.container

		img.rewarding__coach(src="../img/rewarding-coach.png" alt="@@")

		.row

			.col-xs-6
				
			.col-xs-6

				.rewarding__title

					h3
						img(src="../img/icon-big-pink-bg-left.png" alt="@@")
						| Награждаем <br/> <span>победителей</span>