.main-slider

	// container

	.container

		.row

			.col-xs-12.col-sm-12.col-md-12

				.main__slider
					.main__slider__content

						ul.main-slider__slider#main-banner

							li
								<iframe width="713" height="418" src="https://www.youtube.com/embed/VVNo7s1qw_c" frameborder="0" allowfullscreen></iframe>

							li
								<iframe width="713" height="418" src="https://www.youtube.com/embed/VVNo7s1qw_c" frameborder="0" allowfullscreen></iframe>

							li
								<iframe width="713" height="418" src="https://www.youtube.com/embed/VVNo7s1qw_c" frameborder="0" allowfullscreen></iframe>