.counseling

	// container
	
	.container

		img.counseling__coach(src="../img/counseling-coach.png" alt="@@")

		.row

			.col-md-8
			
				.counseling__content

					.counseling__title

						h3
							img(src="../img/icon-big-pink-bg-left.png" alt="@@")
							| Индивидуальное​ <br/> <span>консультирование</span>

						p
							| по skype

					.counseling__hr

					h5
						| Тестирование <br/> Построение​ базового рациона​ <br/> и ​базовой ​тренировки​

					p
						| специально​ для​ тех, у ​кого напряженный ​рабочий​ график

					.counseling__price
						| 3000 рублей <span>( 3 часа )</span>

					a.btn.btn-pink(href="#" title="")
						| Присоединяйся!