.scheme

	// container

	.container

		.row

			.col-md-12

				.about-coach__title
					h3
						| Система преображения
						img(src="../img/icon-big-pink-bg.png" alt="@@")
					p
						| ВКЛЮЧАЕТ:
					.about-coach__title__hr

	// container

	.container

		.row

			// column

			.col-md-4

				.scheme__slider__item
					.scheme__slider__item__mask.scheme__slider__item__mask_purple
											
						h4
							| Тренировки

						h5
							| БЕЗ СТРЕССА

						.scheme__slider__item__mask__hr

						p
							span
								| Видеотренировки
						p
							| 3 раза в неделю  
						p
							| 3 уровня сложности

					img(src="../img/shemes/sheme-1.png" alt="@@")
					.scheme__slider__item__space

			// column

			.col-md-4

				.scheme__slider__item
					.scheme__slider__item__mask.scheme__slider__item__mask_green
											
						h4
							| Питание

						h5
							| без диет

						.scheme__slider__item__mask__hr

						p
							span
								| Курс правильного питания

						p
							| Разработка

						p
							| базового рациона

					img(src="../img/shemes/sheme-2.png" alt="@@")
					.scheme__slider__item__space

			// column

			.col-md-4

				.scheme__slider__item
					.scheme__slider__item__mask.scheme__slider__item__mask_blue
											
						h4
							| Стиль

						h5
							| до кончиков волос

						.scheme__slider__item__mask__hr

						p
							|  Вебинары красоты
						p
							| Консультации по стилю

					img(src="../img/shemes/sheme-3.png" alt="@@")
					.scheme__slider__item__space

	// container

	.container

		.row

			// column

			.col-md-7

				.scheme__description.scheme-mt
					h5
						img(src="../img/icon-small-pink-bg.png" alt="@@")
						| Для кого
					p
						span
							| Марафон ориентирован :
					p
						| На молодых мамочек 
					p
						| Девушек за <span>30</span>

				.scheme__description
					h5
						img(src="../img/icon-small-pink-bg.png" alt="@@")
						| Что дает:
					p
						| Минус 3-4 кг за месяц
					p
						| Научиться оставаться ​стройной​
					p
						| Научиться сохранять​ молодость
					p
						| Остаться​ в проекте​ как угодно​ 
					p
						| долго​
 

				.scheme__description
					h5
						img(src="../img/icon-small-pink-bg.png" alt="@@")
						| Как ведется:
					p
						| Продолжительность​ 3 недели
					p
						| В формате он-лайн​ курса
					p
						| Проходит​ каждый ​месяц
					p
						| По результатам  выбираются​ 
					p
						| победители.

				img.scheme__coach(src="../img/schemes-coach.png" alt="@@")

			// column

			.col-md-5

				.scheme__attainment

					h5
						| За 21 день 
						span
							| ты достигнешь:

					ul
						li
							span
								| 1
							p
								span
									| Избавитесь от лишнего веса 
								| наладится водный баланс и уйдет жир
						li
							span
								| 2
							p
								span
									| Обретете изящную фигуру 
								| подтянутся и обретут упругость формы
						li
							span
								| 3
							p
								span
									| Станете моложе на 5 лет
								| стройные женщины выглядят моложе
						li
							span
								| 4
							p
								span
									| Научитесь стильно выглядеть 
								| вебинары по гардеробу, визажу и красоте
						li
							span
								| 5
							p
								span
									| Измените рацион питания 
								| научитесь получать удовольствие от здоровой еды
						li
							span
								| 6
							p
								span
									| Улучшите здоровье и жизненный тонус 
								| здоровые физические нагрузки
						li
							span
								| 7
							p
								span
									| Привлечете внимание мужчин
								| мужчины любят красивых, стройных и счастливых женщин