// form

#rise.popup-call.form__mail

	a.icon__close(href="#" title="")

	// title block
	.form__mail__title-block
		h5
			|	Оставьте заявку

	form.send-form(action="../mail.php" method="post")

		input(type="text" name="name" placeholder="Имя,фамилия" required)

		input(type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Почта" required)

		input(type="text" name="phone" pattern=".{11,}" placeholder="Телефон" required)

		input(type="hidden" id="action" name="action" value="submitform")
		input.btn-yellow.btn-submit(type="submit" name="" value="Отправить")


.popup#okthanks
	a.icon__close(href="#" title="")
	.thanks
		|	Thank you