// form

#rise.popup-call.form__mail

	a.icon__close(href="#" title="")

	// title block
	.form__mail__title-block
		h5
			|	Оставьте заявку

	form.send-form(action="../mail.php" method="post")

		input(type="text" name="name" placeholder="Имя,фамилия" required)

		input(type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Почта" required)

		input(type="text" name="phone" pattern=".{11,}" placeholder="Телефон" required)

		input(type="hidden" id="action" name="action" value="submitform")
		input.btn-yellow.btn-submit(type="submit" name="" value="Отправить")

// form

.popup-policy.popup

	a.icon__close(href="#" title="")

	h5
		|	Agreement on the processing of personal data

	p
		|	This agreement on the processing of personal data is developed in accordance with the legislation of the United Kingdom.

	p
		|	All persons who fill out information composing personal data on this site, as well as placing other information by indicated actions confirm their consent to the processing of personal data and their transfer to the operator of personal data processing.

	p
		|	Citizen, accepting this Agreement, express their interest and full consent that the processing of their personal data may include the following actions: collection, systematization, accumulation, storage, clarification (updating, modification), use, destruction.

.popup#okthanks
	a.icon__close(href="#" title="")
	.thanks
		|	Thank you