.about-coach

	// container

	.container

		.row

			.col-xs-12.col-md-6

				img.about-coach__coach(src="../img/about-coach.png" alt="@@")

			.col-xs-12.col-md-6

				.about-coach__content

					p
						| Почему решила похудеть: в один день ко мне обратился молодой мужчина небрежным тоном: «Женщина – отойдите!» И я поняла по его взгляду, что перешла из разряда молодых, красивых женщин, в стан «Баба за …». Придя домой, я решила, что сама не хочу быть бабой, хочу быть красивой и привлекательной женщиной, хочу чтобы мой муж смотрел на меня с восхищением, мой сын гордился мамой  и моя маленькая дочь брала с меня пример!

					.about-coach__title
						h3
							| <span>Наталья</span> Козлова
							img(src="../img/icon-big-pink-bg.png" alt="@@")
						p
							| ВЕДУЩИЙ ТРЕНЕР МАРАФОНА
						.about-coach__title__hr

					p
						| я​ доказала, что наследственность, роды​ и​ возраст ​можно перечеркнуть​ желанием ​быть​ красивой​ и хочу​ помочь​ каждой ​женщине ​преобразиться и​ оставаться​ привлекательной ​в​ любом возрасте!